
:host {
    background: linear-gradient(to bottom,  #5f2c82 0%,#49a09d 100%);

    ion-content {
        background: transparent;
        
        canvas {
            background: transparent;
        }
    }

    ion-footer {
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.6);
    }
}